.tiptap {
    h1:first-child {
        user-select: none;
    }

    /* Placeholder (at the top) */
    h1.is-editor-empty:first-child::before {
        color: var(--gray-4);
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }

    /* Placeholder (on every new line) */
    p.is-empty::before {
        color: var(--gray-4);
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }
}