:root:root {
    --inline-code-bgcolor: #F0F0F0;
    --black: rgb(31, 28, 28);
    --white: white;
    --gray-5: rgb(161, 161, 161);
    --gray-4: rgb(209, 209, 209);
    --gray-3: rgb(219, 219, 219);
    --gray-2: rgb(240, 240, 240);
    --gray-1: rgb(230, 230, 230);
    --shadow: rgb(71, 67, 67);
    --orange-contrast: #ff8a67;
    --orange: #fb6b3f;
}